*{
    margin: 0;
    padding: 0;
}
/*
*
*
Estilo para o conteúdo do nosso site
*
*
*/
html,body{
    height: 100%;
}

.article{
    margin: 0 auto;
    width: 1280px;
    height: 200%;
    max-height: 20%;
    min-height: 50%;
    background: red;
}

